body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.25;
    padding: 0;
    margin: 0;
    background-color:rgb(234, 239, 243) ;
}

.container {
    width: 75%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: black;
    color: white;
    min-height: 60px;
    padding-top: 20px;
    border-bottom: lightskyblue 8px solid;
}

header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 15px 0 15px;
}

header #brand {
    float: left;
}

header #brand h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 8px;
}

header a:hover {
    color: lightskyblue;
    font-weight: bold;
}

.highlighted {
    color: lightskyblue;
}

#display {
    min-height: 400px;
    background:url('./img/MCRSkyline1.jpg') -420px;
    color: white;
    text-align: center;
    border-bottom: lightskyblue 8px solid;
}

#display h1 {
    margin-top: 80px;
    font-size: 50px;
    margin-bottom: 40px;
}

#display p {
    font-size: 24px;
}

footer {
    font-size: 12px;
    background-color: lightskyblue;
    color:white;
    text-align: center;
    padding: 25px;
    margin-top: 25px;
    
}

#imageBoxes {
    margin-top: 25px;
}

#imageBoxes .box {
    width: 75%;
    padding: 12px;
    float: left;
    width: 30%;
    text-align: center;
}


#imageBoxes .box img {
    width: 300px;
}